<html lang="en">
  {{! HTML Head }}
  {{>head}}
  <body>
    {{!-- Navbar --}}
    {{>navbar}}
    {{!-- BODY --}}
    <main class="container">
      {{{body}}}
    </main>

    {{!-- FOOTER --}}
    {{>footer}}
  </body>
</html>