<h1 class="mb-4">Login</h1>
<div>
  {{#if loginError}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error!</strong>
      {{loginError}}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  {{/if}}
  <form action="/login" method="post">
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        name="email"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input
        name="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>
    <button class="btn btn-primary mt-3" type="submit">Login</button>
  </form>
</div>